---
title: Mayne's Boer Goats - Home
page: Home
page_title: Welcome to Mayne's Boer Goats...

intro_part1: We are located in beautiful Frederick County in central Maryland. Our family is very excited about the future of Boer Goats and we hope to be an integral part of this growing industry. The past six years our three children Joshua, Emma, and Katie have enjoyed showing champion quality Boer Goats locally in the 4-H and ABGA shows.

intro_part2: Boer Goat producers that have allowed us to purchase such excellent animals. We would like to especially thank Mark and Julie Berry, Glenwood Arkansas who are just a phone call away and always have time to answer "goat" questions. This is one similar quality that we have found in most breeders and judges that we have met, people that are willing to help and who love Boer Goats.<br/>Our goal is to produce high quality Boer Goats that meet industry standards and excel in breed appearance, structure, with an emphasis on natural thickness and muscling.

---
<div class='row'>

	<div class='col-md-6'>
		<p class='lead'>
			<%= current_page.data.intro_part1 %>
		</p>
		<img src='/img/katie_emma.jpg' class='img-responsive'>
		<p class='lead'>
			<%= current_page.data.intro_part2 %>
		</p>
	</div>

	<div class='col-md-6'>

		<!--<div class='row'>
			<div class='col-md-12'>
				<h3>Featured</h3>
			</div>
		</div>-->

		<div class='row'>
			<div class='col-md-12'>
				<ul class="nav nav-tabs">
		  		<li class='active'><a href="#sale" data-toggle="tab">For Sale</a></li>
		  		<li><a href="#results" data-toggle="tab">Show Results</a></li>
		  		<li><a href="#new" data-toggle="tab">New Additions</a></li>
		  		<li><a href="#shows" data-toggle="tab">Shows</a></li>
				</ul>

				<div class="tab-content">
		  		<div class="tab-pane" id="results">
						<div class='row' id='show-results'>
							<div class='col-md-12'>
								<table class='table table-striped'>
								<%for result in data.featured.results %>
									<tr><td>
									<div class='show-result'>
										<div class='row' id='show_name'>
											<div class='col-md-12'>
												<h4><%= result.place%>  <%=result.group%></h4>
												<h5><%= result.show%></h5>
											</div>
										</div>

										<div class='row' id='animal'>
											<div class='col-md-6'>
												<%= link_to (image_tag result.pic, :class=>'img-responsive'), result.link%>
											</div>
											<div class='col-md-6'>
												<%if result.link %>
													<h3><%=link_to result.name, result.link%></h3>
												<%else%>
												<h3><%=result.name%></h3>
												<%end%>
												<%if result.sire_link%>
													<h5>Sire: <%= link_to result.sire, result.sire_link %></h5>
												<%else%>
													<h5>Sire: <%= result.sire %> </h5>
												<%end%>
												<%if result.dam_link%>
													<h5>Dam: <%= link_to result.dam, result.dam_link%></h5>
												<%else%>
													<h5>Dam: <%= result.dam %> </h5>
												<%end%>
											</div>
										</div>
									</div>
									</td></tr>
								<%end%>
								</table>
							</div>
						</div>
					</div>
		  		<div class="tab-pane active" id="sale">
						<div class='row' id='for-sale'>
							<div class='col-md-12'>
								<h2>Bred Does for Sale</h2>
								<p>We also have a group of young junior doe kids for sale, priced starting at $350. More information to come.</p>
								<p>Contact Ed at 301-676-6275 with any questions about animals or pricing or to set up a time to come view the does</p>
								<table class='table table-striped'>
								<% for sale in data.featured.forSale %>
									<tr>
										<td>
											<div class='row name'>
												<div class='col-md-12'>
													<%if sale.link %>
														<h3><%=link_to sale.name, sale.link%></h3>
													<%else%>
														<h3><%=sale.name%></h3>
													<%end%>
												</div>
											</div>
											<div class='row info'>
												<div class='col-md-6'>
													<%= link_to (image_tag sale.img, :class=>'img-responsive'), sale.link %>
												</div>
												<div class='col-md-6'>

													<ul class='list-unstyled' style='text-align:left;'>
														<li><u>Sire</u>: <%= sale.sire%></li>
														<li><u>Dam</u>: <%= sale.dam%></li>
														<li><u>Date of Birth</u>: <%=sale.dob%></li>
														<li><u>Price</u>: <%=sale.price%></li>
													</ul>
													<p><%=sale.info%></p>
												</div>
											</div>
										</td>
									</tr>
								<%end%>
								</table>
							</div>
						</div>
					</div>
		  		<div class="tab-pane" id="new">
						<div class='row'>
							<div class='col-md-12' id='new-additions'>
								<%for n in data.featured.additions %>

								<%end%>
							</div>
						</div>
					</div>
		  		<div class="tab-pane" id="shows">
		  			<div class='row' id='upcoming-shows'>
							<div class='col-md-12'>
								<h3>Upcoming Shows</h3>

								<table class='table table-striped table-condensed'>
									<%for show in data.featured.shows%>
										<tr>
											<td>
												<div class='row'>
													<div class='col-md-6 col-xs-6'>
														<h4><%= show.name %></h4>
													</div>
													<div class='com-md-6 col-xs-6'>
														<p><%=show.date%></p>
														<p><%=show.city + ', '+ show.state%></p>
													</div>
												</div>
											</td>
										</tr>
									<%end%>
								</table>
							</div>
						</div>
		  		</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
//goatPages.getGoats(newGoats, { recent:'true', limit: 4})

function newGoats(goats){

	var output = "<table class='table table-striped'>"
	for(var i=0,len=goats.length; i < len;i++){
		goat= goats[i]
		goat_details = goats[i].goat

		output += '<tr><td>'

		output += '<div class="row"><div class="col-md-4">'
		//Picture Column
		if(goat.profile_picture){
			output += '<img src="' + goat.profile_picture.medium + '" width="100%">'
		}
		else{
			output += '<img src="/img/middleman.png" width="100%">'
		}

		output += '</div><div class="col-md-8">'
		//Info Column
		output += '<h4><a href="'+ goat_details.sex +'s/' + goat_details.reg_num+ '">' + goat_details.fullName +'</a></h4>'
		output += '<p> DOB: ' + formatDateStandard(new Date(goat_details.dob)) +'</p>'

		if(goat_details.sire){
			output += '<p>Sire: ' + goat_details.sire.fullName +'</p>'
		}
		else{
			output += '<p>Sire:  - </p>'
		}

		if(goat_details.dam){
			output += '<p>Dam: ' + goat_details.dam.fullName + '</p>'
		}
		else{
			output += '<p>Dam: - </p>'
		}
		output += '</div></div>'
		output +='</td></tr>'
	}
	output += '</table>'

	$('#new-additions').html(output);
}
</script>
